.companies {
  cursor: pointer;
  font-size: 20px;
  @media (min-width: 1600px) {
    font-size: 24px;
  }
}

.date {
  font-size: 18px;
  color: gray;
  @media (min-width: 1600px) {
    font-size: 20px;
  }
}
