@import '../../../../styles/color.scss';

.modal {
  position: absolute;
  width: 25rem;
  min-height: 25rem;
  background-color: hsla(0, 1%, 19%, 0.6);
  backdrop-filter: blur(2px);
  box-shadow: 10px 10px 20px #ffffff, -10px -10px 20px #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;

  .rol {
    width: 90%;
    margin: 10px 0;

    .nameCompany {
      font-size: 22px;
    }
  }

  .description {
    min-width: 80%;
    max-width: 80%;
    overflow: hidden;
    white-space: break-spaces;
  }

  .rol,
  .description {
    font-size: 1.3rem;
  }
}
